<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="lesson4.master.cs" Inherits="comp2084_lesson4.lesson4" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <!--custom css-->
    <link href="styles.css" rel="stylesheet" />   
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <a class="navbar-brand" href="WebForm1.aspx"></a>
            <li><a href="default.aspx">Default</a></li>
            <li><a href="page2.aspx">Page 2</a></li>
            <li><a href="page3.aspx">Page 3</a></li>
        </ul>
    </nav>
    <form id="form1" runat="server" class="form-horizontal">
    <div class="container">
        <!--this is where the main page content goes-->
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>

    <footer class="alert alert-info">
        @2015 - COMP2084 - <asp:Label ID="lblTimestamp" runat="server" />
    </footer>

    <!-- Latest compiled and minified JavaScript -->

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
